[submodule "nvboard"]
	path = nvboard
	url = https://github.com/NJU-ProjectN/nvboard.git
[submodule "ysyx"]
	path = ysyx
	url = https://github.com/DreamChaser-luzeyu/ysyx.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/DreamChaser-luzeyu/qemu.git
